{% extends "base.html" %}
{% load date_filters %}

{% block title %}Home - AI Assistant{% endblock %}

{% block content %}
    <h1>Welcome to Your AI Assistant</h1>
    <div class="card">
        <div class="card-header">
            Assistants
            <div class="float-end">
                <a class="btn btn-primary btn-sm float-right" href="/create">Create Assistant</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for assistant in assistants %}
                <tr>
                    <td>{{ assistant.name }}</td>
                    <td>{{ assistant.description }}</td>
                    <td>{{ assistant.created_at|format_timestamp }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'edit_assistant' assistant.id %}">Edit
                            Assistant</a>
                        <a class="btn btn-sm btn-secondary" href="{% url 'test_assistant' assistant.id %}">Test
                            Assistant</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
