{% extends "base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'aiAssistant/js/assistant.js' %}" defer></script>
{% endblock head %}

{% load date_filters %}

{% block title %}Create Assistant - AI Assistant{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Assistant Information
            <div class="float-end">
                <a class="btn btn-primary btn-sm float-right" href="/">All Assistants</a>
            </div>
        </div>
        <div class="card-body">
            <form id="assistant-form" data-action="{% url 'edit_assistant' assistant.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label required">Name</label>
                    <input type="text" class="form-control" id="name" value="{{ assistant.name }}" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" value="{{ assistant.description }}"
                           name="description">
                </div>
                <div class="mb-3">
                    <label for="instructions" class="form-label required">Instructions</label>
                    <textarea class="form-control" id="instructions" name="instructions" rows="3"
                              required>{{ assistant.instructions }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary float-end">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
